* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: rgb(7, 7, 7);
}

h1 {
  border-bottom: 2px solid burlywood;
  padding-bottom: 5px;
  font-style: italic;
  color: burlywood;
}

button {
  background-color: burlywood;
  border: none;
  padding: 3px;
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
}

.container {
  max-width: 30rem;
  margin: 2rem auto;
  padding: 2rem;
  box-shadow: 1rem 1rem 3rem rgb(182, 182, 182);
  border-radius: 10px;
  background-color: whitesmoke;
  border: 3px solid burlywood;
}

.container ul li {
  list-style-type: none;
  margin: 1rem 0 1rem 0;
  display: flex;
  justify-content: space-between;
}

.line-through {
  text-decoration: line-through;
}
